body {
  font-family: 'Montserrat', sans-serif;
}
#datetime-picker {
  border-radius: 4px;
  width: 272px;
  max-height: 40px;
  background: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
}

#datetime-picker:hover {
  border: 1px solid #000;
}

#datetime-picker:disabled {
  color: #808080;
}

#datetime-picker:active {
  border: 1px solid #4e75ff;
  color: #000;
}

.but-timer {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  margin-left: 8px;
  font-family: 'Montserrat', sans-serif;
}

.but-timer:hover {
  background: #6c8cff;
}

.but-timer:disabled {
  background: #cfcfcf;
  color: #989898;
}

.timer {
  display: flex;
  margin-top: 32px;
  gap: 24px;
  width: 346px;
  height: 72px;
  text-align: center;
}

.field {
  display: flex;
  flex-direction: column;
  min-width: 55px;
  height: 72px;
  font-weight: 400;
  color: #2e2f42;
}

.value {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-transform: uppercase;
}
